.queen__run {
background-color: pink;

}

.queen__run img {
  height: 639px;
  width: 1365px;
  position: absolute;

  
  }

  .cloud__image{
    height: 200px;
    position: absolute;
  
  }

  .cloud2__image{
    height: 200px;
    position: absolute;
    margin-left: 500px;
  
  }

  .cloud3__image{
    height: 230px;
    width: 400px;
    position: absolute;
    margin-left: 900px;

  
  }

  /* .clouds__div {
    height: 300px;
    background-color:black;
  } */

  .small__pawn{
    position: absolute;
    margin-top:25%;
    
   
  }

  .palm1{
    position: absolute;
    height: 450px;
    margin-left: 25%;
    margin-top: 13%;
    
  }

  .horse__pawn{
    position:absolute;
    margin-left:80%;
    margin-top: 28%;
  }

  .dog__run{
    position: absolute;
    height: 250px;
    margin-top: 27%;
  }

